/* Main style sheet for Desmoto's Arts & Crafts website */

p {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
   background-image: url("../images/pattern.jpeg");
   text-align: center;
   font-size: 6rem;
   color: khaki;
   font-family: 'Abril Fatface', sans-serif;
}

h2 {
   font-family: 'Work Sans', sans-serif;
   font-size: 3rem;
   color: black;
}

h3 {
   font-family: 'Merriweather', sans-serif;
   font-size: 1.5rem;
   color: black;
}

h2.item {
   font-family: 'Merriweather', sans-serif;
   font-size: 3rem;
   color: white;
}

#brush {
   background-color: mediumspringgreen;
}

#frame {
   background-color: lightcoral;
}

#paint {
   background-color: skyblue;
}

.price {
   color: blue;
   font-weight: bold;
}

.product {
   height: 48rem;
   width: 64rem;

   background-color: white;

   border: 2px solid rgb(75, 70, 74);
   border-radius: 0.5rem;

   display: grid;
   place-content: space-between;

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   grid-template-areas:
      "image"
      "title"
      "price"
      "descr";
   grid-gap: 0.5rem;

   margin: 1rem;
   padding: 1rem;

   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product_img {
   grid-area: image;
   width: 30%;
   height: 30%;
   object-fit: contain;
}

.descr {
   font-family: sans-serif;
   font-size: 1rem;
   color: black;
   position: relative;
   left: 3rem;
   top: 0;
}

footer {
   font-family: 'Work Sans', sans-serif;
   font-size: 1rem;
   color: black;
   text-align: center;
   position: relative;
   top: 3rem;
}